@font-face {
    font-family: 'YiSunShinDotumM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    padding-top: 50px;
    font-family: "YiSunShin Dotum M", sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
    align-items: center;
    padding: 25px 40px;
    background-color: black;

}

nav {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    margin: 30px auto;
    width: 1025px;
    height: 600px;
    background: #F8F7F7;
    border-radius: 20px;
    overflow: hidden;

}

.left-side-bar {
    display: flex;
    width: 238px;
    border-radius: 20px 0px 0px 20px;
    opacity: 70%;
    background: #839FDC;
    padding: 30px 20px;
    color: white;
    flex-direction: column;
    align-items: center;
}

.content-box {
    width: 718px;
    flex-grow: 1;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap:18px;
  }

.my-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-info-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 50px;
}


#part {
    background-color: #839FDC;
    color: white;
    border: 1px solid white;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: "YiSunShin Dotum L", sans-serif;
}

#name {
    font-size: 32px;
    margin: 5px 0 0 0;
}


.left-side-menu-bar {
    width: 100%;
}

.left-side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 30px;
    margin-right: 10px;
}

.left-side-menu {
    font-size: 18px;
    margin: 8px 0;
    cursor: pointer;
    list-style: none;

}

.content-box {
    width: 718px;
    flex-grow: 1;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap:18px;

}

.top-area {
    display: flex;
    gap: 20px;
}

.top-left-box {
    width: 260px;
}


.top-right-box {
    width: 370px;
}


.top-left-box, .top-right-box {
    height: 233px;
    background: white;
    padding: 18px;
    border-radius: 20px;
    flex: 1;
    border: 1px solid #D9D9D9;
  }

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    font-size: 18px;
    margin: 0 3px 10px 0;
    color: #595757;

}

#modify-btn {
    margin-bottom:10px;
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
    color: white;
  }


.view-all-btn {
    margin-bottom:10px;
    border: 1px solid #c5c4c4;
    background-color: white;
    color: #b8b5b5;
}

#modify-btn, .view-all-btn {
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    float: right;
    cursor: pointer;
  }


  .delete-btn {
    font-size: 10px;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #b4bfd8;
    opacity: 90%;
    color: white;
    border: none;
    cursor: pointer;
  }


  .info-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 90%;
    height: 100%;
    align-items: left;
  }

.info-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }


.info-name {
    font-size: 14px;
    margin-bottom: 0px;
    width: 60px;
    margin-left: 20px;
    text-align: left;
}

.info {
    flex-grow: 1;
    height: 25px;
    padding: 0 8px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: #A19C9C;
    line-height: 30px;
    text-align: center;
    font-family: "YiSunShin Dotum L", sans-serif;
}



.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.schedule-list :hover {
    opacity: 70%;
}

.schedule-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F4F9;
    border: 1px solid #BCD0FD;
    padding: 10px;
    border-radius: 10px;
}


.schedule-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;

}

.schedule-info {
    flex-grow: 1;
  }

.schedule-name {
    font-size: 14px;
    margin: 0;
}

.schedule-location {
    font-size: 10px;
    color: #928C8C;
    margin: 0;

}


.schedule-date {
    width: 50px;
    height: 35px;
    background: #97AFE3;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: bold;

}

.bottom-box {
    width:678px;
    height:237px;
    background: white;
    padding: 18px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;

}


.bottom-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.my-study-list {
    display: flex;
    gap: 20px;
    margin-top: 10px;

}

.my-study {
    width: 248px;
    border: 1px solid #F2EDED;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    justify-content: space-between;
    cursor: pointer;

}

.my-study-list :hover {
    opacity: 70%;
}

.study-img {
    width: 100%;
    height: 94px;
    object-fit: cover;

}

.study-leader {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin: 10px;

}

.study-name {
    font-size: 15px;
    margin: 0 10px;

}

.study-mem-num {
    font-size: 11px;
    color: #A19C9C;
    margin: 0 10px 10px 10px;
}

.add-study {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.more-study-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.right-side-menu-bar {
    width: 71px;
    background: #f0efef;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 40px;
}

.right-side-menu-img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}